.changePassPaper {
  &.MuiPaper-root {
    width: 300px;
    height: 380px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }
  .formChangePass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    height: 220px;
  }
  .passwordChange {
    font-family: "GoldManRegular";
    font-size: 18px;
    letter-spacing: 2px;
  }
  .textChangePass {
    &.MuiFormControl-root {
      height: 65px;
      width: 250px;
    }
    .MuiInputBase-root {
      border-radius: 10px;
    }
  }
  .changePassButton {
    &.MuiButtonBase-root {
      font-family: "GoldManRegular";
      font-size: 12px;
    }
  }
}
