.menuDrawer {
  &.MuiDrawer-root {
    width: 70px;
    transition: width 0.2s ease;

    .MuiPaper-root {
      z-index: 1;
      display: flex;
      align-items: center;
      width: 70px;
      transition: width 0.2s ease;
      overflow: hidden;
      .menuList {
        &.MuiList-root {
          width: 100%;
          display: flex;
          flex-direction: column;
          .selectedList {
            &.MuiListItemButton-root {
              background-color: rgb(238, 233, 218);
              border-left: 10px solid rgba(211, 125, 63, 0.712);
              border-radius: 10px;
            }
          }
          .selectedIcon {
            &.MuiButtonBase-root {
              background-color: rgb(238, 233, 218);
            }
          }
          .listText {
            .MuiTypography-root {
              font-family: "GoldmanRegular";
              letter-spacing: 2px;
            }
          }
        }
      }
    }
  }
  overflow: hidden;
}
.menuDrawer.open {
  &.MuiDrawer-root {
    width: 190px;
    .MuiPaper-root {
      width: 210px;
    }
  }
}
